.node {
	outline: 1px solid black;
	height: 25px;
	width: 25px;
}

.node-path {
	background: #ffeb3b;
}

.node-visited {
	background: #00bcd4;
}

.node-wall {
	background: black;
}

.node-start {
	background: #4caf50;
}

.node-finish {
	background: #f44336;
}
